@using TieStore.Web.Models
@model Product[]
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    string helloClass = null;
}

<h2>Check out these products on sale:</h2>
@for(var i = 1; i < 5; i++) {
	<div class="col-md-3 col-sm-4 col-xs-6" style="background-color: white; padding-bottom:2em;">
		<h3 title="@Model[i].Name" class="@helloClass"><a href="/Product/Id/@Model[i].Id">@Model[i].Name</a></h3>
        @if (@Model[i].OnSale) {
            <p style="color: red;">On Sale! $@Model[i].SalePrice</p>
        }
        @if (!@Model[i].OnSale) {
            <p>$@Model[i].SalePrice</p>
        }
        <span>@Model[i].Description</span>
       
	</div>
 }
 